.SA-gallery .gallery-item{
    margin: 0 0 0.5em 0;
}
.SA-gallery .col-lg-4, .SA-gallery .col-md-4, .SA-gallery .col-sm-6{
    padding-left: 0.5em;
    padding-right: 0;
}
.SA-gallery .gallery-item:hover .overlay:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}
.SA-gallery .gallery-item .overlay h2 {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 10px;
  bottom: -15px;
  border: none;
}
.SA-gallery .gallery-item .overlay span {
  color: #A55847;
  color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  bottom: -5px;
  visibility: hidden;
  opacity: 0;
}