{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Blend &mdash; Free HTML5 Bootstrap Website Template by markatix.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by markatix.com" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="markatix.com" />

     <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'images/logo/logo-colored.ico' %}">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div id="SA-page">
		<a href="#" class="js-SA-nav-toggle SA-nav-toggle dark"><i></i></a>
		<aside id="SA-aside" role="complementary" class="border js-fullheight">

			<h1 id="SA-logo"><a href="{% url 'index' %}"><img src="{% static "images/logo/logo-colored.png" %}" alt="Stone Art" style="width:50%" ></a></h1>
			<nav id="SA-main-menu" role="navigation">
				<ul>
					<li class="SA-active"><a href="{% url 'index' %}">Home</a></li>
					<li><a href="#">Products</a>
						<ul id="SA-sub-menu">
                            {% if cat %}
                                 {% for z in cat %}
							<li><a href="{% url 'app.views.category' category_name_url=z.name_url %}">{{ z.name }}</a></li>
                                 {% endfor %}
                            {% endif %}
{#							<li><a href="product.html">Architectural Stone</a></li>#}
{#							<li><a href="product.html" >Balinese Carvings</a></li>#}
{#							<li><a href="product.html">Bass Relief Work</a></li>#}
{#							<li><a href="product.html">Bathroom Accessories</a></li>#}
{#							<li><a href="product.html">Bird Baths</a></li>#}
{#							<li><a href="product.html">Fireplace</a></li>#}
{#							<li><a href="product.html">Fountains</a></li>#}
{#							<li><a href="product.html">Furniture</a></li>#}
{#							<li><a href="product.html">Garden series</a></li>#}
{#							<li><a href="product.html">Gift Items</a></li>#}
{#							<li><a href="product.html">Inlay</a></li>#}
{#							<li><a href="product.html">Light</a></li>#}
{#							<li><a href="product.html">Planters</a></li>#}
{#							<li><a href="product.html">Temples</a></li>#}
{#							<li><a href="product.html">Statues</a></li>#}
						</ul>
					</li>
					<li><a href="about.html">Our Work</a></li>
					<li><a href="about.html">Media</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</nav>

			<div class="SA-footer">
				<a href="tel:011-26802705">Tel No :- 011-26802705</a>
				<br><br><br>
				<ul>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="SA-main">

			<div id="map"></div>

			<div class="SA-more-contact">
				<div class="SA-narrow-content">
					<div class="row">
						<div class="col-md-4">
							<div class="SA-feature SA-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="SA-icon">
									<i class="icon-envelope-o"></i>
								</div>
								<div class="SA-text">
									<p><a href="#">info@domain.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="SA-feature SA-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="SA-icon">
									<i class="icon-map-o"></i>
								</div>
								<div class="SA-text">
									<p>198 West 21th Street, Suite 721 New York NY 10016</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="SA-feature SA-feature-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="SA-icon">
									<i class="icon-phone"></i>
								</div>
								<div class="SA-text">
									<p><a href="tel://">+123 456 7890</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="SA-narrow-content animate-box" style="margin-left: 0; margin-top: 1em;" data-animate-effect="fadeInLeft">

				<div class="row">

					<div class="col-md-12 text-center">
						<h1>Get In Touch</h1>
					</div>
				</div>
				<form action="">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">

								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Phone">
									</div>
									<div class="form-group">
										<textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
									</div>
									<div class="form-group text-center">
										<input type="submit" class="btn btn-primary btn-md" value="Send Message">
									</div>
								</div>
								<div class="col-md-3">

								</div>

							</div>
						</div>

					</div>
				</form>
			</div>

		</div>
	</div>


<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- MAIN JS -->
	<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>

