{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>StoneArt</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="markatix.com" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'images/logo/logo-colored.ico' %}">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="SA-page">
		<a href="#" class="js-SA-nav-toggle SA-nav-toggle"><i></i></a>
		<aside id="SA-aside" role="complementary" class="border js-fullheight">

			<h1 id="SA-logo"><a href="{% url 'index' %}"><img src="{% static 'images/logo/logo-colored.png' %}" alt="Stone Art" style="width:50%" ></a></h1>
			<nav id="SA-main-menu" role="navigation">
				<ul>
					<li class="SA-active"><a href="{% url 'index' %}">Home</a></li>
					<li><a href="#">Products</a>
						<ul id="SA-sub-menu">
                            {% if cat %}
                                 {% for z in cat %}
							<li><a href="{% url 'app.views.category' category_name_url=z.name_url %}">{{ z.name }}</a></li>
                                 {% endfor %}
                            {% endif %}
{#							<li><a href="product.html" >Balinese Carvings</a></li>#}
{#							<li><a href="product.html">Bass Relief Work</a></li>#}
{#							<li><a href="product.html">Bathroom Accessories</a></li>#}
{#							<li><a href="product.html">Bird Baths</a></li>#}
{#							<li><a href="product.html">Fireplace</a></li>#}
{#							<li><a href="product.html">Fountains</a></li>#}
{#							<li><a href="product.html">Furniture</a></li>#}
{#							<li><a href="product.html">Garden series</a></li>#}
{#							<li><a href="product.html">Gift Items</a></li>#}
{#							<li><a href="product.html">Inlay</a></li>#}
{#							<li><a href="product.html">Light</a></li>#}
{#							<li><a href="product.html">Planters</a></li>#}
{#							<li><a href="product.html">Temples</a></li>#}
{#							<li><a href="product.html">Statues</a></li>#}
						</ul>
					</li>
					<li><a href="about.html">Our Work</a></li>
					<li><a href="about.html">Media</a></li>
					<li><a href="{% url 'contact'%}">Contact</a></li>
				</ul>
			</nav>

			<div class="SA-footer">
				<a href="tel:011-26802705">Tel No :- 011-26802705</a>
				<br><br><br>
				<ul>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="SA-main">
			<div id="slider" class="container">
				<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0; left: 0; width: 600px; height: 400px; overflow: hidden; visibility: hidden;">
			<!-- Loading Screen -->
					<div data-u="loading" style="position: absolute; top: 0; left: 0;">
						<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%;"></div>
						<div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0;left:0;width:100%;height:100%;"></div>
					</div>
					<div data-u="slides" style="cursor: default; position: relative; top: 0; left: 0; width: 600px; height: 300px; overflow: hidden;">
                        {% if text %}
                           {% for carousel in text %}
						<div data-p="112.50" style="display: none;">
							  <img data-u="image" src="{{ carousel.img_url }}" />
                              <div data-u="caption" style="position: absolute; top: 140px; left: 80px; width: 200px; background-color: rgba(0,0,0,0.1);">
								<div style="margin: 4px; font-family: 'stoneart', Arial, sans-serif; display: inline">
									<p style="font-size: 6px; color: white; line-height: 2;"> <span style="font-size: 12px; line-height:1 ; margin-bottom: 0; text-transform: uppercase; color: antiquewhite;">{{ carousel.text_heading }}</span>
									<!--<p  display: inline">-->
										{{ carousel.text_para }}
									</p>
								</div>
                			</div>

                        </div>
                           {% endfor %}
                        {% endif %}
{#						<div data-p="112.50" style="display: none;">#}
{#							<img data-u="image" src="images/statues-section.jpg" />#}
{#						</div>#}
{#						<div data-p="112.50" style="display: none;">#}
{#							<img data-u="image" src="images/animal-section.jpg" />#}
{#						</div>#}
{#						<div data-p="112.50" style="display: none;">#}
{#							<img data-u="image" src="images/buddha-section.jpg" />#}
{#						</div>#}
{#						<div data-p="112.50" style="display: none;">#}
{#							<img data-u="image" src="images/modern-art-section.jpg" />#}
{#						</div>#}
                        <a data-u="ad" href="http://www.jssor.com" style="display:none">Bootstrap Slider</a>

					</div>
				</div>
			</div>

			<div class="SA-narrow-content" style="margin-top: 0; padding-top: 0;">
				<h2 class="SA-heading animate-box" data-animate-effect="fadeIn">Feature</h2>
				<div class="row">
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
						<img src="{% static 'images/feature/statues-section.jpg' %}" class="img-responsive">
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInRight">
						<table width="100%" class="features">
							<tr>
								<td>
								<p>
									Text here is supposed to describe the feature section, which is, for now, set to Balinese carvings, some sort of antique category I don't know shit about
									But what do I know, so...
								</p>
								<h3>
									Balinese Carvings
								</h3>
								<a href="#" class="SA-feature-arrow"><i class="icon-chevron-right"></i></a>
								</td>
								<td>
								<img src="{% static 'images/feature/stone-web4.png' %}" class="pull-right" height="45%">
								</td>
							</tr>
						</table>

					</div>
					<div class="col-md-2" style="/*background: url('images/stone-web4.png') no-repeat; " >
						<!--<img src="images/stone-web4.png" class="pull-right">-->
					</div>
				</div>
			</div>

			<div class="container-fluid SA-narrow-content" style="background-color: rgba(216, 216, 216, 0.32); padding-top: 2em; margin-left: 0; width: 100%;">
				<h2 class="SA-heading animate-box" data-animate-effect="fadeIn">Category</h2>
					<div class="SA-gallery">
{#					<div class="row">#}
					{% if top_cat %}
                            {% for q in top_cat %}
						<div class="col-lg-4 col-md-4 ">
						<div class="gallery-item">
							<img src="{{ q.img_url }}" alt="">
							<span class="overlay">
								<h2><a href="{% url 'app.views.category' category_name_url=q.name_url %}">Balinese Carvings</a></h2>
								<span>Description</span>
							</span>
						</div>
						<div class="desc">
							<h4>{{ q.name }}</h4>
							<p> {{ q.description }}</p>
							<div class="desc-arrow">
								<a href="{% url 'app.views.category' category_name_url=q.name_url %}"><i class="icon-long-arrow-right"></i></a>
							</div>
						</div>
						</div>


{#						<div class="col-lg-4 col-md-4 ">#}
{#						<div class="gallery-item">#}
{#							<img src="images/western-statues-normal.jpg" alt="Free HTML5 Bootstrap Template by markatix.com">#}
{#							<span class="overlay">#}
{#								<h2>Western Statues</h2>#}
{#								<span>22 Photos</span>#}
{#							</span>#}
{#						</div>#}
{#						<div class="desc">#}
{#							<h4 >Balinese Carvings</h4>#}
{#							<p> Description of the product goes here, if there is any</p>#}
{#							<div class="desc-arrow">#}
{#								<a href="#"><i class="icon-long-arrow-right"></i></a>#}
{#							</div>#}
{#						</div>#}
{#						</div>#}
{#					</div>#}
{#					<div class="row">#}
{#						<div class="col-lg-4 col-md-4 col-sm-12">#}
{#						<div class="gallery-item">#}
{#							<img src="images/temple-normal.jpg" alt="Free HTML5 Bootstrap Template by markatix.com">#}
{#							<span class="overlay">#}
{#								<h2>Temples</h2>#}
{#								<span>28 Photos</span>#}
{#							</span>#}
{#						</div>#}
{#						<div class="desc">#}
{#							<h4>Balinese Carvings</h4>#}
{#							<p> Description of the product goes here, if there is any</p>#}
{#							<div class="desc-arrow">#}
{#								<a href="#"><i class="icon-long-arrow-right"></i></a>#}
{#							</div>#}
{#						</div>#}
{#						</div>#}
{#						<div class="col-lg-4 col-md-4 col-sm-12">#}
{#						<div class="gallery-item">#}
{#							<img src="images/fountain-normal.jpg" alt="Free HTML5 Bootstrap Template by markatix.com">#}
{#							<span class="overlay">#}
{#								<h2>Fountains</h2>#}
{#								<span>17 Photos</span>#}
{#							</span>#}
{#						</div>#}
{#						<div class="desc">#}
{#							<h4>Fountains</h4>#}
{#							<p> Description of the product goes here, if there is any</p>#}
{#							<div class="desc-arrow">#}
{#								<a href="#"><i class="icon-long-arrow-right"></i></a>#}
{#							</div>#}
{#						</div>#}
{#						</div>#}
{#						<div class="col-lg-4 col-md-4 col-sm-12">#}
{#						<div class="gallery-item">#}
{#							<img src="images/bathroom-accessories-normal.jpg" alt="Free HTML5 Bootstrap Template by markatix.com">#}
{#							<span class="overlay">#}
{#								<h2>Bathroom Accessories</h2>#}
{#								<span>34 Photos</span>#}
{#							</span>#}
{#						</div>#}
{#						<div class="desc">#}
{#							<h4>Balinese Carvings</h4>#}
{#							<p> Description of the product goes here, if there is any</p>#}
{#							<div class="desc-arrow">#}
{#								<a href="#"><i class="icon-long-arrow-right"></i></a>#}
{#							</div>#}
{#						</div>#}
{#						</div>#}
{#					</div>#}
                        {% endfor %}
                    {% endif %}

						<div class="col-lg-4 col-md-4">
						<div class="gallery-item">
							<img src="{% static 'images/project.jpg'%}" alt="">
							<span class="overlay">
								<h2>Projects</h2>
								<span>7 Photos</span>
							</span>
						</div>
						<div class="desc">
							<h4>Projects Name</h4>
							<p>Projects Description</p>
							<div class="desc-arrow">
								<a href="projects.html"><i class="icon-long-arrow-right"></i></a>
							</div>
						</div>
						</div>

			</div>
			</div>
			<!--<div class="SA-testimonial" >-->
				<!--<div class="SA-narrow-content">-->
					<!--<div class="owl-carousel-fullwidth animate-box" data-animate-effect="fadeInLeft">-->
		            <!--<div class="item">-->
		            	<!--<figure>-->
		            		<!--<img src="images/testimonial_person2.jpg" alt="Free HTML5 Bootstrap Template">-->
		            	<!--</figure>-->
		              	<!--<p class="text-center quote">&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained. &rdquo; <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>-->
		            <!--</div>-->
		            <!--<div class="item">-->
		            	<!--<figure>-->
		            		<!--<img src="images/testimonial_person3.jpg" alt="Free HTML5 Bootstrap Template">-->
		            	<!--</figure>-->
		              	<!--<p class="text-center quote">&ldquo;Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while. &rdquo;<cite class="author">&mdash; Steve Jobs</cite></p>-->
		            <!--</div>-->
		            <!--<div class="item">-->
		            	<!--<figure>-->
		            		<!--<img src="images/testimonial_person4.jpg" alt="Free HTML5 Bootstrap Template">-->
		            	<!--</figure>-->
		              	<!--<p class="text-center quote">&ldquo;I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly. &rdquo;<cite class="author">&mdash; Frank Chimero</cite></p>-->
		            <!--</div>-->
		          <!--</div>-->
				<!--</div>-->
			<!--</div>-->


			<div class="SA-counters" style="background-image: url({% static 'images/back.jpg' %});" data-stellar-background-ratio="0.1" id="counter-animate">
				<div class="overlay">
					<div class="SA-narrow-content animate-box">

						<div class="row">
							<!--<div class="col-md-4 text-center">-->
								<!--<span class="SA-counter js-counter" data-from="0" data-to="67" data-speed="5000" data-refresh-interval="50"></span>-->
								<!--<span class="SA-counter-label">Client</span>-->
							<!--</div>-->
							<!--<div class="col-md-4 text-center">-->
								<!--<span class="SA-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>-->
								<!--<span class="SA-counter-label">Photos</span>-->
							<!--</div>-->
							<!--<div class="col-md-4 text-center">-->
								<!--<span class="SA-counter js-counter" data-from="0" data-to="27232" data-speed="5000" data-refresh-interval="50"></span>-->
								<!--<span class="SA-counter-label">Pixels</span>-->
							<!--</div>-->
							<!--<div class="col-md-12">-->
								<h4 class="text-center" style="font-weight: bold;">What is luxury? Joy in the everyday...</h4>
								<p class="text-center">Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet</p>
							<!--</div>-->
						</div>
					</div>
				</div>
			</div>

			<div class="SA-narrow-content">
				<h2 class="SA-heading animate-box" data-animate-effect="fadeIn">Blog</h2>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 animate-box" data-animate-effect="fadeIn">
						<img src="{% static 'images/blog/blog.jpg' %}" class="img-responsive">
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft" style="padding: 1em 1em 0 1em">
						<h5>Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit</h5>
						<p>Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet
						</p>

					</div>
					<div class="col-md-2 animate-box SA-blog-detail" data-animate-effect="fadeInRight" style="padding: 2em 0 0 2em">
						<h5>Details</h5>
						<p><i class="icon-clock-o"></i> &nbsp;&nbsp;26 June, 2016</p>
						<p><i class="icon-folder-open-o"></i>&nbsp;&nbsp;Catalogue, Featured</p>
						<p><i class="icon-user"></i>&nbsp;&nbsp;By John Smith</p>
						<p><i class="icon-tag"></i>&nbsp;&nbsp;Black & White, Statue</p>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>

			<div class="footer" style="/*background-color: #362B29;">
				<div class="row">
					<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<p><a href="#">About</a></p>
						<p><a href="#">Our Work</a></p>
						<p><a href="#">Product</a></p>
						<p><a href="#">Contact Us</a></p>
					</div>
					<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<p> Stoneart, 348, Sultanpur <br>
							MG Road, New Delhi- 110030 <br>
							India | Tel No.:- 011-26802705
						</p>
						<p>
							Mailing<br>
							Email: _______________________<br>
						</p>
					</div>
					<div class="col-md-3 animate-box text-center" data-animate-effect="fadeInLeft">
						<p><a href="#">Twitter <br></a></p>
						<p><a href="#">Facebook <br></a></p>
						<p><a href="#">Instagram <br></a></p>
					</div>
					<div class="col-md-3 animate-box text-center" data-animate-effect="fadeInLeft">
						<img src="{% static 'images/logo/logo-colored.png' %}" width="100px">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInLeft">
						<br>
						<p class="SA-lead text-center">
							<small>&copy; 2016 Stone Art. All Rights Reserved</small> <span> | Designed by <a href="http://markatix.com/" target="_blank">Markatix.com</a> </span></small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<!-- MAIN JS -->
	<script src="{% static 'js/main.js' %}"></script>
	<!-- Slider JS -->
    <script type="text/javascript" src="{% static 'js/jssor.slider.mini.js' %}"></script>
    <!-- use jssor.slider.debug.js instead for debug -->
    <script>
        jQuery(document).ready(function ($) {

            var jssor_1_SlideshowTransitions = [
              {$Duration:1200,$Opacity:2}
            ];

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: jssor_1_SlideshowTransitions,
                $TransitionsOrder: 1
              },
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 40);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

	<script>
		function isScrolledIntoView(elem) {
    		var docViewTop = $(window).scrollTop();
			var docViewBottom = docViewTop + $(window).height();

			var elemTop = $(elem).offset().top;
			var elemBottom = elemTop + $(elem).height();

			return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
		}
//		$(document).ready(function(){
//    		var footer = $('.footer');
//			if(isScrolledIntoView(footer)){
//				console.log("reached footer");
//				$('#SA-aside').css(
//						"width", "170",
//						"-moz-transform", "translateX(-170px)",
//						"-webkit-transform", "translateX(-170px)",
//						"-ms-transform", "translateX(-170px)",
//						"-o-transform", "translateX(-170px)",
//						"transform", "translateX(-170px)"
//				);
//				$('#SA-page').css("width", "100%");
//			}
//		});
	</script>
	</body>
</html>

